# Configuração do Ambiente (sandbox ou production)
ENVIRONMENT=production

# Credenciais de Produção do Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
MERCADO_PAGO_PUBLIC_KEY=SUA_PUBLIC_KEY_AQUI

# CEP de Origem para Cálculo de Frete nos Correios
SENDER_CEP=01001000

# URL Oficial do Site em Produção
SITE_URL=https://uselovely.com.br
