# Configuração do Ambiente (sandbox ou production)
ENVIRONMENT=production

# Credenciais de Produção do Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-5693485948304539-081120-a72331bba887d4b245e6503c230da229-85845021
MERCADO_PAGO_PUBLIC_KEY=APP_USR-9cfc190c-7fee-4599-baa4-093ef668aaf1

# CEP de Origem (Vitória - ES) para Cálculo de Frete nos Correios
SENDER_CEP=29026741

# URL Oficial do Site em Produção
SITE_URL=https://uselovely.com.br
